{% extends 'base.html.twig' %}

{% block title %}Личный кабинет преподавателя{% endblock %}

{% block body %}
    <h1>Здравствуйте {{ app.user.email }}!</h1>
    <h2>Ваши предметы</h2>
    <ul>
        {% for subject in subjects %}
            <li>
                <a href="{{ path('teacher_subject_students', { id: subject.id }) }}">
                    {{ subject.name }}
                </a>
            </li>
        {% else %}
            <li>У вас нет предметов</li>
        {% endfor %}
    </ul>
{% endblock %}
