<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}LMS{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    {% block body %}
        <div class="container">
            <h1>Добро пожаловать в ваш новый проект!</h1>
            <p class="lead">Теперь вы можете начать разрабатывать с Symfony и Bootstrap.</p>
            <!-- Ваша кнопка -->
            <button class="btn btn-primary">Test Button</button>
        </div>
    {% endblock %}
    
    {{ encore_entry_script_tags('app') }}
</body>
</html>
